<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body style="background-color: #F2F2F2;">
    <div class="container">     
        <div class="card" style="width: 14rem;margin-left: 43%; margin-top: 1%;border: unset;background-color: #F2F2F2; ">
            <img class="img" src="../resoures/logo.png" width="50%" height="50%" alt="ảnh logo">
        </div>
        <div class="card" style="width: 50rem;margin-left: 15%; margin-top: 1%;background-color: white;">
            <img src="../resoures/email1.png" alt="ádasd" style="width: 35%; height: 35%; margin-left: 30%;margin-top: 2%;"><br/>
            <p style="margin-left: 8%;margin-top: 0.1%;margin-right: 5%;height: 30px;"><strong>Cảm ơn bạn đã tham gia website của chúng tôi!</strong></p>
            <p style="margin-left: 8%;margin-right: 10%;height: 50px;">Chúc mừng bạn đã trở thành thành viên của <strong>Lê Độ Cinema </strong>- Tích điểm ngay nhận quà liền tay.</p>
            <p style="margin-left: 8%;margin-right: 10%;height: 50px;">Bạn có thể đăng nhập dễ dàng vào tài khoản <strong>Lê Độ </strong>- để cập nhật các chương trình ưu đãi đặc biệt dành riêng cho bạn.</p>
            
            <p style="margin-left: 8%;margin-right: 10%;height: 10px;">Trân trọng,</p>
            <p style="margin-left: 8%;margin-right: 10%;"><strong>The Le Do Cinema team.</strong></p>
            <br/>
        </div>
        <div class="card" style="width: 20rem;margin-left: 40%; margin-top: 1%;border: unset;background-color: #F2F2F2; ">
            <p>Bạn chưa có tài khoản? <a href="">Đăng ký tại đây</a></p>
        </div>
</div>
</body>
</html>